.homepage{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.siteDesc{
  margin-bottom: 10%;
}

.homeWholeText{
  margin-top: 3%;
  margin-left: 8%;
}

.homeWholeText p{
  margin-top: 1%;
}

.subtitle{
  text-decoration: underline;
  font-size: 25px;
  margin-bottom: 3%;
}

.homeLogin{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 5%;
  width: 350px;
  margin-top: 3%;
  margin-left: 10%;
  border-radius: 20px;
  background-color: wheat;
  padding: 20px;
}
.containers{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containers p{
  white-space: nowrap;
  margin-bottom: 0;
}
.homeEmail-container, .homePassword-container{
  display: flex;
  gap: 15px;
  align-items: center;
}

.containers input{
  width: 200px;
}

.signButtons{
  align-items: center;
  text-align: center;
  width: 200px;
}

.signin-signin{
  border-radius: 6px;
  width: 70px;
  height: 30px;
}

.signin-signup{
  border-radius: 6px;
  width: 75px;
  height: 30px;
  margin-left: 20px;
}

.signout-button{
  border-radius: 6px;
  width: 120px;
  height: 40px;
}

.loginTitle{
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.detailed-text{
  font-size: 20px;
}

@media(max-width: 1300px){
  .homeLogin{
    position: absolute;
    left: 750px;
    margin-left: 10%;
  }
}

@media(max-width: 800px){
  .homepage{
    flex-direction: column;
  }

  .homeLogin {
    position: static; /* 절대 위치를 제거하고 기본 흐름으로 배치 */
    margin: 20px 4%; /* 위아래 여백 추가 및 가운데 정렬 */
    width: 90%; /* 뷰포트에 맞게 너비를 조정 */
  }

  .homeWholeText {
    margin-bottom: 30px; /* 추가 여백을 줘서 간격 확보 */
  }
}