.homepage{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.siteDesc{
  margin-bottom: 10%;
}

.homeWholeText{
  margin-top: 5%;
  margin-left: 8%;
}

.homeWholeText p{
  margin-top: 1%;
}

.subtitle{
  text-decoration: underline;
  font-size: 25px;
  margin-bottom: 3%;
}

.homeLogin{
  position: absolute;
  right: 5%;
  width: 350px;
  margin-top: 3%;
  margin-left: 10%;
}
.containers p{
  white-space: nowrap;
}
.email-container, .password-container{
  display: flex;
  gap: 15px;
}

.containers input{
  width: 100%;
}

.signButtons{
  text-align: center;
}

.loginTitle{
  font-size: 30px;
  text-align: center;
  margin-left: 80px;
  margin-bottom: 10px;
}

.ggLogo{
  margin-left: 40%;
}

@media(max-width: 1300px){
  .homeLogin{
    position: absolute;
    left: 760px;
    margin-left: 10%;
  }
}