.wholeSignUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wholeSignUp .title{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}


.wholeSignUp input{
    width: 250px;
    margin-left: 0;
    margin-top: 0;
    background-color: lavender;
    transition: margin-left 0.3s ease;
}

.signup-signup{
    background-color: white;
    border: 1px solid blue;
    color: blue;
    width: 70px;
    height: 30px;
    border-radius: 6px;
}

.signUp-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px; /* 요소 간 간격 */
    width: 100%; /* 화면 너비에 맞춤 */
    max-width: 600px; /* 최대 너비 제한 */
}

.signUp-container p{
    margin-top: 0;
}

.passwordCheck-container, .username-container, .email-container, .password-container, .dropdown-container {
    display: flex;
    gap: 15px;
    padding-right: 28%;
    align-items: center;
    height: 48px;
}


.dropdown {
    margin-bottom: 20px;
    width: 250px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.agreement-section{
    display: flex;
    flex-direction: column;
}

.form-check{
    padding: 0;
}

#agree{
    margin-top: 5px;
}

.form-check input{
    width: 20px;
    height: 20px;
    padding: 0;
}

@media(max-width: 550px){
    .passwordCheck-container, .username-container, .email-container, .password-container{
        display: flex;
        gap: 15px;
        padding-right: 20%;
    }
}

