.wholeUserInfo{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 130px;
}

.change p {
    margin-bottom: 0px;
}

.circle-image {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image scales properly */
}

#change-image {
    border-radius: 10px;
    width: 120px;
    height: 30px;
    margin: 15px 0;
    background-color: lavender;
    color: black;
    border: 1px solid black;
    padding: 0;
}

#change-password{
    border-radius: 10px;
    width: 140px;
    height: 30px;
    margin-left: 0px;
    background-color: lavender;
    color: black;
    border: 1px solid black;
    padding: 0;
}

#change-name {
    border-radius: 10px;
    width: 110px;
    height: 30px;
    margin-top: 0px;
    background-color: lavender;
    color: black;
    border: 1px solid black;
    padding: 0;
}

#newImage{
    padding: 5px;
    height: 40px;
}

.popup{
    position: fixed;
    top: 20%;
    left: 33%;
    width: 500px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-radius: 5px;
    padding: 10px 0;
}


.popup .image-popup{
    width: 500px;
    height: 260px;
    padding-top: 20px;
}


.popup-inner h3{
    text-align: left;
    padding-left: 15px;
    padding-bottom: 17px;
    border-bottom: 1px solid #a9a9a9;
}

.popup-content{
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #a9a9a9;
}

.popup-content p{
    text-align: left;
    margin-bottom: 0;
}

.popup-inner button{
    cursor: pointer;
}

input {
    width: 100%; 
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    outline: none;
  }

.popUpButtons {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-top: 14px; 
    margin-right: 13px;
    gap: 10px;
}

.image-popup .closeBtn{
    background-color: #6e6e6e;
    color: white;
}
.closeBtn {
    background-color: #e0e0e0;
    color: #333;
    border-radius: 10px;
}

/* 저장 버튼 스타일 */
.saveBtn {
    width: 130px;
    height: 30px;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
}

.uploadBtn{
    width: 130px;
    height: 34px;
    border-radius: 10px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.password-info, .name-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    gap: 10px;
}

